.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  gap: 12px;
}

input {
  padding: 10px;
  font-size: 14px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
